div.wibiya-alternative-ads {position: relative;}
p.bubbles{
  background: none;
  font-family: Androgyne;
  background-image: url('/images/s1.png'), url('/images/s2.png'), url('/images/s3.png');
  height: 100%;
  /*left: 0;
  position: absolute;
  top: 0;*/
  margin: 0;
  padding: 0;
  width: 100%;
  z-index:1;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}
p.bubbles a {overflow: hidden;margin: 0;padding: 0;position: relative;}
p.bubbles a span{display: block}
p.bubbles a span.first-pad,
p.bubbles a span.third-pad{height: 25px;}
p.bubbles a span.second-pad{background: url('/images/bubbles.png') no-repeat;background-size: 100%;display: block;min-height: 90px;}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}